body {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background: greenyellow;
} 
    
#canales {
    position: fixed;
    width: 15%;
    height: 100%;
    left: 0px;
    top: 0px;
    color:darkslategrey; 
    margin: 10px;
    background-color: greenyellow;
}
#principal {    
    position: fixed;
    width: 85%;
    height: 100%;
    left: 15%;
    top: 0px;
    color:green; 
    background-color: whitesmoke;
}
    #cabecera {
        position: relative;
        height: 15%;
        top: 0px;
        margin: 10px;
        border-width: thin;
        border-color: darkslategrey;
        border-style: solid;
    }


        #titulocanal {
            position: relative;
            width: 80%;
            text-align: center;
        }
    
/* LO DEL SEARCH */
                #busqueda {  
                    position: relative;
                    width: 20%;
                    float: right;
                }

    #mensajes {
        position: relative;
        height: 60%;
        margin: 10px;
        overflow-y: scroll;
    }
    #pie {
        position: relative;
        height: 15%;
        margin: 10px;
    }
        .message {
            width: 80%;
        }

