body {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background: greenyellow;
} 
    
#zona-canales {
    position: fixed;
    width: 15%;
    height: 100%;
    left: 0px;
    top: 0px;
    color:darkslategrey; 
    margin: 10px;
    background-color: greenyellow;
}
#zona-principal {    
    position: fixed;
    width: 85%;
    height: 100%;
    left: 15%;
    top: 0px;
    color:green; 
    background-color: whitesmoke;
}
    #zona-cabecera {
        position: relative;
        height: 15%;
        top: 0px;
        margin: 10px;
        border-width: thin;
        border-color: darkslategrey;
        border-style: solid;
    }


        #titulocanal {
            position: relative;
            width: 80%;
            text-align: center;
        }
    
                #zona-busqueda {  
                    position: relative;
                    width: 20%;
                    float: right;
                }

    #zona-chat {
        position: relative;
        height: 60%;
        margin: 10px;
        overflow-y: scroll;
        display: block;
    }
    #zona-pie {
        position: relative;
        height: 10%;
        margin: 10px;
    }
    .caja-mensajes {  
        margin: 10px 5px;
        border:3px solid green;
        border-radius:22px; 
        padding: 2px 10px;
        background-color: rgba(172, 255, 47, 0.11);
        text-indent: 1em;
    }
    .user {
        font-weight: bold;
        text-transform: uppercase;
    }
    .mens {
        font-style: italic;
    }
    .fech {
        text-align: center;
    }
        #nuevo-mensaje-barra {
            width: 80%;
        }
        #nombre-user-barra {
            width: 10%;
        }